body {
  background: linear-gradient(to right, hsl(0, 1%, 47%), #ffc371);
}

.gradient-bg {
  background: linear-gradient(to right, hsl(0, 1%, 47%), #ffc371);
  color: white;
}
.bg-transparent {
  background-color: transparent;
}

.custom-carousel-button {
  margin-left: 700px;
}

.button-bg {
  background-color: rgba(50, 49, 37, 0.975);
  color: white;
}

/* CSS untuk pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.792);
}

/* CSS untuk menggelapkan latar belakang saat pop-up terbuka */
.dark-background {
  background-color: rgb(251, 0, 0);
}

/* CSS untuk warna pada baris atas */
.top-row {
  background-color: #e9fd14;
}
