#brand-img {
  background-image: url(img/gb1.jpg);
  height: 300px;
}

#brand-img2 {
  background-image: url(img/gb2.png);
  height: 300px;
}
#brand-img3 {
  background-image: url(img/download.jpg);
  height: 300px;
}
#brand-img4 {
  background-image: url(img/prewed.jpeg);
  height: 300px;
}

.gradient-bg {
  background: linear-gradient(to right, hsl(0, 1%, 47%), #ffc371);
  color: white;
}

#b1 {
  background-color: #fdf8e4;
}

#b2 {
  background-color: #fdf8e4;
}
#b3 {
  background-color: #fdf8e4;
}

#b4 {
  background-color: #fdf8e4;
}

.warna-kami {
  color: #b67a4f;
}

#judul {
  background-color: #b67a4f;
  margin-left: 38px;
  width: 20px;
}

#warna {
  color: #f0f3fa;
}
body {
}
